.coantainer{
    position: relative;
    width: 50%;
    height: 500px;
    margin: auto;
    background-color:white;
    top: 50px;

}
.chat-box{
    position: relative;
    height: auto;
    width: 350px;
    margin: auto;
    border: solid 2px black;
    display: block;
}
.chat-box-header{
    position: relative;
    height: 30px;
    padding: 2px;
    display: flex;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.chat-box-left{
    margin-left: 10px;
    margin-right: 5px;
    text-align: center;
}
.chat-box-left img{
    margin-top: 10px;
}
.chat-box-right{
    position: absolute;
    right: 20px;
}

.inbox{
    position: relative;
    width: 100%;
    height: 500px;
    display: block;
    overflow: auto;
    margin: auto;
}
.me{
    position: relative;
    height: auto;
    background-color: #EF5366;
    width: 50%;
    height: auto;
    float: right;
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
    color: white;
}
.you{
    height: 40px;
    background-color: rgba(230, 236, 236, 0.856);
    width: 50%;
    height: auto;
    float: left;
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
}
.input-box{
    width: 99%;
    height: 40px;
    border: solid 1px black;
    display: flex;
    margin: auto;
    padding: 1px;
    background-color:white;
   
}
.input-box input{
    width: 85%;
    height: 40px;
    border: none;
}

